:root{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Verdana', Arial, sans-serif;
    user-select: none;
    text-align: center;
    max-height: 100%;
}

/* ------------------- general -------------------- */

.prime {
    width: 100%;
    height: 100%;
}

.super {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    animation: fadein 1s;
}

.el{
    flex: 1;
    width: 100%;
    font-size: 1.5rem;
}

.next {
    position:absolute;
    top: 90vh;
}
footer {
    position: absolute;
    top:80vh;
    font-size: 0.75rem;
}

.prev {
    position: absolute;
    top: 5vh;
}
.prev i {
    transform: rotateY(180deg);
}

.title {
    font-size: 3rem;
    position: absolute;
    top: 12vh;
}

.main {
    position: absolute;
    top: 25vh;
    height:100%;
    width:100%;
}

.vis {
    font-size: 2rem;
}

.sub {
    font-style: italic;
    font-size: 2rem;
    margin: -5px;
}

/* animation */

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* timeline */

#timelineMain { /* contains selectedyear and change */
    display:flex;
    width:100%;
    position: absolute;
    top: 25vh;
}

#selectedYear, #change{
    font-size: 1.5rem;
    flex: 1;
    animation: fadein 1s;
}

#selectedYear p {
    text-align: left;
}

#timelineVis { /* contains yearspan */
    position: absolute;
    top: 85vh;
}

.yearSpan {
    margin-right: 20px;
    flex: 1;
    font-size: 1.5rem;
}

.yearSpan:hover{
    transform: scale(1.3);
    -webkit-transform:scale(1.3);
    cursor: pointer;
}

#timelineGraph {
    position: absolute;
    top: 80vh;
    border: 2px solid red;
}

.bigYear {
    font-size: 3rem !important;
    margin-bottom: 10px;
}

#yellowYear {
    color: gold;
}

.redYear {
    color:red;
}

/* ---------- nurse ----------  */

#nurseWrapper {
    display: flex;
    height: 90vh;
    align-items: center;
}

@keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-2113px, 0, 0); /* The image width */
    }
}

.sliding-background {
    background: url("nursebg.png") repeat-x;
    height: 100%;
    width: 6339px;
    animation: slide 60s linear infinite;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

#nurseOutput p {
    animation: fadein 8s;
    font-size: 3rem;
}

#nurseVis {
    background-color: #5f4bde61;
}

#nurseVis p {
    font-size: 2.25rem;
}

table {
    margin:auto;
    font-size: 0.5rem;
    animation: fadein 2s;
    table-layout: fixed;
}

td {
    width: 87.5px;    
    height: 70px;
    animation: fadein 1s;
}

td img {
    width:100%;
    height: 100%;
}
tr {
    border: 5px solid black;
    margin: 1px;
}

input[type=range] {
    height: 48px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 50%;
    background-color: rgba(0, 0, 0, 0);
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 66%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    border-radius: 50px;
    border: 1px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background: #AD84C2;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -16px;
  }

output {
    display:block;
    font-size: 3rem;
}

.nurse button {
    color: #14396A ;
    font-size: 25px;
    text-shadow: 0px 0px 0px #5F4BDE;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 25px 25px;
    border-radius: 10px;
    border: 2px solid #3866A3;
    background: #63B8EE;
    background: linear-gradient(to top, #63B8EE, #468CCF);
}

.nurse button:hover {
color: #14396A !important;
background: #468CCF;
background: linear-gradient(to top, #468CCF, #63B8EE);
cursor: pointer;
}

.nursehouse {
    border: 2px solid purple;
}

/* ---- relative ----- */
#relativeMain, #outroMain {
    display:flex;
    position: absolute;
    top: 50vh;
}

#relativeLeft {

}

#relativeRight {

}


/* ---- outro ----- */
#outroBottom {
    position: absolute;
    top: 20vh;
}

#relativeMain button {
    position: absolute;
    top: 30vh;
}