:root{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Verdana', Arial, sans-serif;
    user-select: none;
    text-align: center;
}

/* ------------------- general -------------------- */
.prime {
    width: 100%;
    height:310vh;
}

.sub {
    font-style: italic;
    font-size: 2rem !important;
    margin: -5px !important;
}

.super {
    display: flex;
    height: 33.333%;
    width: 100%;
    flex-direction: column;
    margin-bottom: 100vh;
    animation: fadein 1s;
}

.el{
    flex: 1;
    width: 100%;
    font-size: 1.5rem;
}

#timeline {
    background-color: black;
    color:white;
}

#third {
    background-color: white;
}

.active {
    animation: fadein 3s;
}

.deactivated {
    animation: fadeout 1s;
}

.next {
    position:absolute;
    top: 90vh;
}

.prev {
    position: absolute;
    top: 5vh;
}
.prev i {
    transform: rotateY(180deg);
}

.title {
    padding-top: 5vh;
    font-size: 3rem;
}

.vis {
    font-size: 2rem;
}

/* animation */

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* timeline */
#selectedYear{
    font-size: 2rem;
    flex: 1;
    animation: fadein 1s;
}

#timeline span:hover{
    transform: scale(1.3);
    -webkit-transform:scale(1.3);
    cursor: pointer;
}

#timeline span{
    display: inline-block;
    margin-right: 20px;
    flex: 1;
    font-size: 1.5rem;
}

#timelineWrapper {
    background-color: #5f4bde61;
}

/* nurse */

#nurseWrapper {
    display: flex;
    width:100%;
    height: 80%;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    overflow:hidden;
}

@keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-2113px, 0, 0); /* The image width */
    }
}

.sliding-background {
    background: url("nursebg.png") repeat-x;
    height: 100%;
    width: 6339px;
    animation: slide 60s linear infinite;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

#nurseWrapper div {
    margin: 10px;
    line-height: 125%;
}

#nurseOutput {
    min-height: 10%;
}
#nurseOutput p {
    animation: fadein 8s;
    font-size: 3rem;
}

#nurseVis {
    width: 100%;
    background-color: #5f4bde61;
    padding:20px;
}

#nurseVis button{
    margin:30px;
    margin-left:0px;
}

#nurseVis p {
    font-size: 2.25rem;
}


table {
    margin:auto;
    font-size: 0.5rem;
    animation: fadein 2s;
    table-layout: fixed;
}

td {
    width: 87.5px;    
    height: 70px;
    animation: fadein 1s;
}

td img {
    width:100%;
    height: 100%;
}
tr {
    border: 5px solid black;
    margin: 1px;
}

input[type=range] {
    height: 48px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 50%;
    background-color: rgba(0, 0, 0, 0);
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 66%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    border-radius: 50px;
    border: 1px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background: #AD84C2;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -16px;
  }

output {
    display:block;
    font-size: 3rem;
}

.nurse button {
font-family: verdana;
color: #14396A !important;
font-size: 25px;
text-shadow: 0px 0px 0px #5F4BDE;
box-shadow: 1px 1px 1px #BEE2F9;
padding: 25px 25px;
border-radius: 10px;
border: 2px solid #3866A3;
background: #63B8EE;
background: linear-gradient(to top, #63B8EE, #468CCF);
}

.nurse button:hover {
color: #14396A !important;
background: #468CCF;
background: linear-gradient(to top, #468CCF, #63B8EE);
cursor: pointer;
}

.nursehouse {
    border: 2px solid purple;
}

/* ---- relative ----- */
#relativeWrapper {
    background-color: #5F4BDE;
}